.name-profession {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 10%;
    align-items: flex-start;
    width: 50%;
  }
  
  .name-title {
    font-size: 3rem;
    color: #2ed612;
    font-weight: bold;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  
  .name-title::after {
    content: '';
    display: block;
    height: 10px;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.1s ease-in-out;
  }
  
  .name-profession h1 {
    animation: fadeIn 3s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  