/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 110px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Quando l'utente scorre la pagina */
.navbar.scrolled {
  background-color: #111;
}

/* Contenitore navbar */
.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Logo con animazione */
.navbar .logo {
  animation: logoAnim 2s infinite alternate;
}

.navbar .logo img {
  height: 50px;
}

/* Animazione logo */
@keyframes logoAnim {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Link della navbar */
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 130px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #f39c12;
}

/* Cambio colore dopo scroll */
.navbar.scrolled .navbar-links a {
  color: #f39c12;
}

/* Icona utente (login/logout) */
.user-icon {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}

.user-icon:hover {
  color: #f39c12;
}

/* Bottone menu mobile */
.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Stile del menu mobile quando è aperto */
.navbar-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  animation: slideDown 0.5s ease-out;
  text-align: center;
}

.navbar-links.open li {
  margin: 10px 0;
}

.navbar-links.open a {
  font-size: 20px;
  color: #f39c12;
}

.navbar-links.open a:hover {
  color: white;
}

/* Animazione menu mobile */
@keyframes slideDown {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

/* Media query per schermi piccoli */
@media screen and (max-width: 768px) {
  .navbar-links {
      display: none;
  }

  .menu-button {
      display: block;
  }

  .navbar-links.open {
      display: flex;
  }
}

  